@model TI_Sklep.ViewModels.DodawanieFilmowViewModels

@using (Html.BeginForm("DodajFilm", "Filmy", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Film.Tytul, "Podaj tytuł: ")
        @Html.TextBoxFor(m => m.Film.Tytul, new { @required = true, @class="form-control"})
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Film.Rezyser, "Podaj reżysera: ")
        @Html.TextBoxFor(m => m.Film.Rezyser, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Film.Opis, "Podaj opis: ")
        @Html.TextAreaFor(m => m.Film.Opis, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Plakat, "Wybierz Plakat:")
        @Html.TextBoxFor(m => m.Plakat, new { @type = "file", @class = "form-control-file" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Film.Dlugosc, "Podaj długość filmu: ")
        @Html.TextAreaFor(m => m.Film.Dlugosc, new { @class = "form-control" })
    </div>

    <div class="form-check">
        @foreach (var kategoria in Model.Kategorie)
        {
            @Html.RadioButtonFor(m => m.Film.KategoriaId, kategoria.Id, new { @class="form-cheack-input"})
            @kategoria.Nazwa
        }
    </div>
    <div class="form-group"><input type="submit" value="Wyślij" class="btn btn-primary" /></div>
}