@Model TI_Sklep.Models.Film

@{
    ViewData["Title"] = "Lista Kategorii";
}

<table>
    <tr>
        <td>
        <h1>@Model.Kategoria.Nazwa</h1>
        @await Component.InvokeAsync("FilmyKategorii", new { nazwaKategorii = Model.Kategoria.Nazwa})</td>
        <td>
            <ul>
                <li>Tytul: @Model.Tytul</li>
                <li>Rezyser: @Model.Rezyser</li>
                <li>Opis: @Model.Opis</li>
                <li>Cena: @Model.Cena zł</li>
                <li>Data Dodania: @Model.DataDodania</li>
                <li>Dlugosc: @Model.Dlugosc</li>
            </ul>
            <button onclick="location.href='@Url.Action("EdytujFilm", "Filmy", new { id = Model.Id })'">Edytuj</button>
        </td>
    </tr>
</table>
